<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Chuoi Workshop Server Mobile</h1>

    {{{body}}}

    <h2>So A: {{soA}}</h2>
    <h2>So B: {{soB}}</h2>
    <h2>Ket qua: {{kq}}</h2>

    
</body>
</html>